<!--
  th:replace 작성하기
  뷰 꾸미기
  댓글 등록, 수정, 삭제는 ajax로 구현하기
  몇번째 상품의 댓글인지 bid 받아오기
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Comment Test</title>
  <style>
    .commentTitle{
      color: lightgrey;
    }
  </style>
</head>
<body>
<div class="container">
  <hr>
  <form>
  <div>
    <h3 class="commentTitle">댓글 작성</h3>
  </div>
  <br>
  <div class="commentContent">
    <textarea rows="3" name="cContent" id="input--Content"></textarea>
  </div>
  <div class="commentWriter">
    <label>작성자</label>
    <input type="text" name="cWriter" id="input--Writer">
  </div>
  <div class="commentPw">
    <label>비밀번호</label>
    <input type="password" name="cPw" id="input--Pw">
  </div>
  <button type="button" id="Btn--uploadComment">댓글등록</button>
<!--  전 페이지(후기 목록 페이지)에서 글 번호 받아와서 value에 대입 컨트롤러에서 addatribute해서 글 번호 넘김-->
  <input type="hidden" id="input--Bid" th:value="${bId}"/>
</form>
<br>
<div>
  <!-- 실제 DB 값 가져와서 뿌리기 - 완 -->
  <!-- 리스트 출력하는 것도 ajax로 변경하기 -->
  <div th:each="comments : ${comments}">
    <div>[[${comments.cContent}]]</div>
    <div>
      <div>[[${comments.cWriter}]]</div>
      <div>[[${comments.cDate}]]</div>
      <div>[[${comments.cId}]]</div>
      <input type="hidden" th:value="${comments.getCId}" id="comment--cId">
      <button id="Btn--updateComment">수정</button>
      <button class="Btn--deleteComment" th:id="${comments.getCId}">삭제</button>
    </div>
  </div>
  <div class="commentList"></div>
</div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {

    // document.getElementById("Btn--uploadComment").addEventListener('click',uploadComment);
    document.getElementById("Btn--updateComment").addEventListener('click',updateComment);
    // listComment();
    $(".Btn--uploadComment").click(function(){
      console.log($("#input--Bid").val());
      $.ajax({
        type: "post",
        url: "/upload",
        // data:JSON.stringify(data),
        data: "cContent="+$("#input--Content").val()+"&cWriter="+$("#input--Writer").val()+"&cPw="+$("#input--Pw").val()+"&bId="+$("#input--Bid").val(),
        dataType: 'text',
        success:function(data, status){
          alert("댓글이 등록되었습니다.");
          location.href = "/reply/"+$("#input--Bid").val();
        },
        error: function (xhr, status, error){
          alert("댓글 등록이 실패하였습니다.");
          location.href = "/reply/"+$("#input--Bid").val();
        }
      });
    });

  $(".Btn--deleteComment").click(function(){
    console.log($(this).attr('id'));
    $.ajax({
      type: "post",
      url: "/deleteComment",
      data: {cId:$(this).attr('id')},
      dataType: 'text',
      success:function(data, status){
        alert("댓글이 삭제되었습니다.");
        location.href = "/reply/"+$("#input--Bid").val();
      },
      error: function(xhr, status, error){
        alert("댓글 삭제가 실패하였습니다.");
        location.href = "/reply/"+$("#input--Bid").val();
      }
    });
  });

  });

  // function listComment(){
  //   $.ajax({
  //     url:"/reply",
  //     type: "post",
  //     dataType: "json",
  //     success: function(data){
  //       // let str = JSON.stringify(data);
  //       // alert(str);
  //       alert("check");
  //     }
  //   });
  // }

  //이런식으로 쓰는 방법 질문
  // function listComment(){
  //   $.ajax({
  //     url: "/reply/"+$("#input--Bid").val(),
  //     type: "post",
  //     success: function(){
  //       var a='';
  //       $.each(function(){
  //         a += '<div>안녕</div>'
  //       })
  //
  //       $(".ajaxdiv").html(a);
  //     }
  //   })
  // }

  function uploadComment(){
    //console.log("누름");
    // let cContent = $("#input--Content").val();
    // let data = {
    //   cContent:$("#input--Content").val(),
    //   cWriter:$("#input--Writer").val(),
    //   cPw:$("#input--Pw").val()
    // }
    // console.log(data.cContent);
    console.log($("#input--Bid").val());
    $.ajax({
      type: "post",
      url: "/upload",
      // data:JSON.stringify(data),
      data: "cContent="+$("#input--Content").val()+"&cWriter="+$("#input--Writer").val()+"&cPw="+$("#input--Pw").val()+"&bId="+$("#input--Bid").val(),
      // data:{
      //     bId:$("#input--Bid").val(),
      //     cContent:$("#input--Content").val(),
      //     cWriter:$("#input--Writer").val(),
      //     cPw:$("#input--Pw").val()
      //   },
      dataType: 'text',
      success:function(data, status){
        alert("댓글이 등록되었습니다.");
        location.href = "/reply/"+$("#input--Bid").val();
      },
      error: function (xhr, status, error){
        alert("댓글 등록이 실패하였습니다.");
        location.href = "/reply/"+$("#input--Bid").val();
      }
    });
  }


  //삭제버튼 누르면 삭제되게 하기
  //삭제버튼 누르면 삭제되는데 제일 위의 값의 버튼만 정상적으로 작동하고 그 외에는 작동을 안함
  //콘솔 찍어보니까 맨 위 삭제 버튼 뺴고는 cid 값을 못 가져옴 - 완
  // function deleteComment(){
  //   console.log($(this).attr('id'));
  //   $.ajax({
  //     type: "post",
  //     url: "/deleteComment",
  //     data: {cId:$(this).attr('id')},
  //     dataType: 'json',
  //     success:function(data,status){
  //       alert(data);
  //       alert("댓글이 삭제되었습니다.");
  //       location.href = "/reply/"+$("#input--Bid").val();
  //     },
  //     error: function(xhr, status, error){
  //       alert("댓글 삭제가 실패하였습니다.");
  //       location.href = "/reply/"+$("#input--Bid").val();
  //     }
  //   })
  // }

  //수정 버튼을 누른 댓글 위치에 댓글 작성하는 것처럼 바꿔야하는데 어떻게?
  function updateComment() {
    console.log($("#comment--cId").val())
  }

</script>
</html>