<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comment Test</title>
  <style>
    .commentCaption{
      float: left;
      color: lightgrey;
    }
  </style>
</head>
<body>
<script>
  //json사용
</script>
<form>
  <hr>
  <h3 class="commentCaption">댓글 작성</h3><br/>

  <div class="commentContent">
    <textarea rows="3" name="cContent"></textarea>
  </div>
  <div class="commentWriter">
    <label>작성자</label>
    <input type="text" name="cWriter">
  </div>
  <div class="commentPw">
    <label>비밀번호</label>
    <input type="password" name="cPw">
  </div>
  <button type="submit">댓글등록</button>
</form>
</body>
</html>